public/commerce.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:commerceservicewsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:commerceservicewsdl">

    <types>
        <xsd:schema targetNamespace="urn:commerceservicewsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>

            <xsd:complexType name="Categorie">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="nom" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>  

            <xsd:complexType name="ListeCategories">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Categorie[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>  

        </xsd:schema>
    </types>
<!--ajouter catégorie-->
    <message name="ajouterCategorieRequest">
        <part name="nom" type="xsd:string"/>
    </message>

    <message name="ajouterCategorieResponse">
        <part name="return" type="xsd:string"/>
    </message>
<!--supprimer catégorie-->
    <message name="supprimerCategorieRequest">
        <part name="id" type="xsd:string"/>
    </message>

    <message name="supprimerCategorieResponse">
        <part name="return" type="xsd:string"/>
    </message>
 <!--editer catégorie-->
    <message name="editerCategorieRequest">
        <part name="id" type="xsd:string"/>
        <part name="nom" type="xsd:string"/>
    </message>

    <message name="editerCategorieResponse">
        <part name="return" type="xsd:string"/>
    </message>
<!--get catégorie-->
    <message name="getCategorieByIdRequest">
        <part name="id" type="xsd:string"/>
    </message>

    <message name="getCategorieByIdResponse">
        <part name="return" type="tns:Categorie"/>
    </message>
<!--get list catégories-->
    <message name="getListCategoriesRequest">
    </message>

    <message name="getListCategoriesResponse">
        <part name="return" type="tns:ListeCategories"/>
    </message>

    <portType name="commercewsdlPortType">
        <operation name="getCategorieById">
            <documentation>Return une categorie</documentation>
            <input message="tns:getCategorieByIdRequest"/>
            <output message="tns:getCategorieByIdResponse"/>
        </operation>

        <operation name="getListCategories">
            <documentation>Return la liste des categories</documentation>
            <input message="tns:getListCategoriesRequest"/>
            <output message="tns:getListCategoriesResponse"/>
        </operation>

         <operation name="addNewCategorie">
            <documentation>Ajouter une categorie</documentation>
            <input message="tns:ajouterCategorieRequest"/>
            <output message="tns:ajouterCategorieResponse"/>
        </operation>

         <operation name="deleteCategorie">
            <documentation>Supprimer une categorie</documentation>
            <input message="tns:supprimerCategorieRequest"/>
            <output message="tns:supprimerCategorieResponse"/>
        </operation>

         <operation name="updateCategorie">
            <documentation>editer une categorie</documentation>
            <input message="tns:editerCategorieRequest"/>
            <output message="tns:editerCategorieResponse"/>
        </operation>

    </portType>

    <binding name="commercewsdlBinding" type="tns:commercewsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCategorieById">
        <soap:operation soapAction="urn:commerceservicewsdl#getCategorieByIdServeur" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="getListCategories">
        <soap:operation soapAction="urn:commerceservicewsdl#getListCategoriesServeur" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <!--ajouter catégorie-->
        <operation name="addNewCategorie">
        <soap:operation soapAction="urn:commerceservicewsdl#addNewCategorieServeur" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

         <!--supprimer catégorie-->
        <operation name="deleteCategorie">
        <soap:operation soapAction="urn:commerceservicewsdl#deleteCategorieServeur" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <!--editer catégorie-->
        <operation name="updateCategorie">
        <soap:operation soapAction="urn:commerceservicewsdl#updateCategorieServeur" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:commerceservicewsdl"
                encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="commercewsdl">
        <port name="commercewsdlPort" binding="tns:commercewsdlBinding">
            <soap:address location="http://127.0.0.1:8000/soap"/>
        </port>
    </service>
</definitions>
